{
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "extends": [
    "@budproj/eslint-config-base-ts",
    "@budproj/eslint-config-prettier-ts",
  ],
  "rules": {
    "new-cap": "off",
    "unicorn/filename-case": [
      "error",
      {
        "ignore": "src/migrations/*"
      }
    ]
  }
}
