# Node
# --------------------------------------------------------------------------------------------------
node_modules

# Production
# --------------------------------------------------------------------------------------------------
dist

# Secret environment variables
# --------------------------------------------------------------------------------------------------
.env.local

# Gitops
# -------------------------------------------------------------------------------------------------
.waypoint

# Production
# --------------------------------------------------------------------------------------------------
log/*
*/**/*.log

# Database
# -------------------------------------------------------------------------------------------------
users_to_invite.csv
src/database/environments/production/clients
src/database/environments/production/dumps
