# Node
# --------------------------------------------------------------------------------------------------
node_modules

# Production
# --------------------------------------------------------------------------------------------------
dist

# Secret environment variables
# --------------------------------------------------------------------------------------------------
.env
.env.secret
.env.secrets

# Gitops
# -------------------------------------------------------------------------------------------------
.waypoint

# Others
# -------------------------------------------------------------------------------------------------
users_to_invite.csv
src/database/environments/production/clients
src/database/environments/production/dumps
