# Node
# --------------------------------------------------------------------------------------------------
node_modules

# Production
# --------------------------------------------------------------------------------------------------
dist

# Gitops
# -------------------------------------------------------------------------------------------------
.waypoint

# Others
# -------------------------------------------------------------------------------------------------
users_to_invite.csv
src/database/environments/production/clients
src/database/environments/production/dumps
